name: Coverage Converter Actions

on:
  push:
    branches: master
    paths:
      - metrics/coverage_converter/**
      - metrics/core/**

jobs:
  macos-actions:
    name: Coverage Converter MacOS Actions
    runs-on: macOS-latest
    timeout-minutes: 60
    steps:
      - name: Trigger build data sync on start
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          repository: ${{ github.repository }}
          event-type: building_project
          client-payload: '{"building_coverage_converter": "true"}'

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}

      - uses: cedx/setup-dart@v2
        with:
          release-channel: beta
          version: 2.12.0-133.2.beta

      - name: Get Dependencies
        run: pub get
        working-directory: metrics/coverage_converter/

      - name: Run Analyzer
        run: dartanalyzer . --fatal-infos --fatal-warnings
        working-directory: metrics/coverage_converter/

      - name: Run tests
        run: pub run test_coverage --print-test-output --no-badge
        working-directory: metrics/coverage_converter/

      - name: Download coverage tool
        run: |
          curl -o coverage_coverter -k https://github.com/platform-platform/monorepo/releases/download/coverage-converter-snapshot/coverage_converter_macos -L
          chmod a+x coverage_coverter
        working-directory: metrics/coverage_converter/

      - name: Convert coverage report
        run: ./coverage_coverter lcov -i coverage/lcov.info -o coverage-summary.json
        working-directory: metrics/coverage_converter/

      - name: Export coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage_report
          path: metrics/coverage_converter/coverage-summary.json
          if-no-files-found: error

      - name: Build Project
        run: dart2native bin/main.dart -o ./coverage_converter_macos
        working-directory: metrics/coverage_converter/

      - name: Generate SHA256 Hash
        run: shasum -a 256 metrics/coverage_converter/coverage_converter_macos > metrics/coverage_converter/coverage_converter_macos.sha256

      - name: Upload SHA256 Hash
        uses: actions/upload-artifact@v2
        with:
          name: coverage_converter_macos_sha256
          path: metrics/coverage_converter/coverage_converter_macos.sha256
          if-no-files-found: error

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage_converter_macos
          path: metrics/coverage_converter/coverage_converter_macos
          if-no-files-found: error

  linux-actions:
    name: Coverage Converter Linux Actions
    runs-on: ubuntu-latest
    needs: [ macos-actions ]
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}

      - uses: cedx/setup-dart@v2
        with:
          release-channel: beta
          version: 2.12.0-133.2.beta

      - name: Get Dependencies
        run: pub get
        working-directory: metrics/coverage_converter/

      - name: Build Project
        run: dart2native bin/main.dart -o ./coverage_converter_linux
        working-directory: metrics/coverage_converter/

      - name: Generate SHA256 Hash
        run: shasum -a 256 metrics/coverage_converter/coverage_converter_linux > metrics/coverage_converter/coverage_converter_linux.sha256

      - name: Upload SHA256 Hash
        uses: actions/upload-artifact@v2
        with:
          name: coverage_converter_linux_sha256
          path: metrics/coverage_converter/coverage_converter_linux.sha256
          if-no-files-found: error

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage_converter_linux
          path: metrics/coverage_converter/coverage_converter_linux
          if-no-files-found: error

  release-actions:
    name: Coverage Converter Release Actions
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: [ macos-actions, linux-actions ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}

      - name: Install GitHub CLI
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0
          sudo apt-add-repository https://cli.github.com/packages
          sudo apt update
          sudo apt install gh

      - name: Configure GitHub CLI
        run: gh auth login --with-token <<< ${{ secrets.GITHUB_TOKEN }}

      - name: Download MacOS Build
        uses: actions/download-artifact@v2
        with:
          name: coverage_converter_macos
          path: metrics/coverage_converter/

      - name: Download Linux Build
        uses: actions/download-artifact@v2
        with:
          name: coverage_converter_linux
          path: metrics/coverage_converter/

      - name: Download MacOS SHA256 Hash
        uses: actions/download-artifact@v2
        with:
          name: coverage_converter_macos_sha256
          path: metrics/coverage_converter/

      - name: Download Linux SHA256 Hash
        uses: actions/download-artifact@v2
        with:
          name: coverage_converter_linux_sha256
          path: metrics/coverage_converter/

      - name: Delete release
        run: |
          gh release delete coverage-converter-snapshot -y
          git push --delete origin coverage-converter-snapshot

      - name: Create release
        run: gh release create coverage-converter-snapshot metrics/coverage_converter/coverage_converter_macos metrics/coverage_converter/coverage_converter_macos.sha256 metrics/coverage_converter/coverage_converter_linux metrics/coverage_converter/coverage_converter_linux.sha256 --prerelease --title 'Coverage converter snapshot'

  notify-actions:
    name: Notify about building finished
    runs-on: macos-latest
    needs: [ macos-actions, linux-actions, release-actions ]
    if: "always()"
    steps:
      - name: Notify about building the Coverage Converter
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          repository: ${{ github.repository }}
          event-type: building_project
          client-payload: '{"building_coverage_converter": "true"}'
      - name: Send notification to Slack
        if: needs.macos-actions.result == 'failure' || needs.linux-actions.result == 'failure' || needs.release-actions.result == 'failure' || needs.macos-actions.result == 'cancelled' || needs.linux-actions.result == 'cancelled' || needs.release-actions.result == 'cancelled'
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          repository: ${{ github.repository }}
          event-type: send_slack_notification
          client-payload: '{"workflow_name": "${{ github.workflow }}", "run_url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"}'
